<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics - ShortZoid</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/manage.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69a72a2c24.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>

<body>
    <header>
        <div class="header">
            <a href="/dashboard" class="logo">ShortZoid</a>
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="/dashboard">Home</a>
                <a href="/dashboard/manage">Manage URLs</a>
                <a href="/dashboard/analytics">Analytics</a>
                <a href="/user/profile">Account</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <section id="user-urls">
        <% if (urls && urls.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">ShortID</th>
                        <th scope="col">Destination</th>
                        <th scope="col">View Analytics</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.name || url.shortID %></td>
                            <td><a href="https://shortzoid.vercel.app/r/<%= url.shortID %>"><%= url.shortID %></a></td>
                            <td><a href="<%= url.redirectURL %>"><%= url.redirectURL %></a></td>
                            <td>
                                <a href="/url/analytics/<%= url.shortID %>">
                                    <button class="btn">View</button>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No URLs found.</p>
        <% } %>
    </section>

    <script>
    </script>
</body>

</html>