<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics - ShortZoid</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/manage.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>

<body>
    <%- include('header') %>

    <section id="user-urls">
        <% if (urls && urls.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">ShortID</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                <tr>
                    <td data-label="S.No"><%= index + 1 %></td>
                    <td data-label="Name"><%= url.name || url.shortID %></td>
                    <td data-label="ShortID">
                        <a href="https://shortzoid.vercel.app/r/<%= url.shortID %>"><%= url.shortID %></a>
                    </td>
                    <td data-label="Destination">
                        <a href="<%= url.redirectURL %>"><%= url.redirectURL %></a>
                    </td>
                    <td data-label="Actions">
                        <a href="/url/analytics/<%= url.shortID %>">
                            <button class="btn">View Analytics</button>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p>No URLs found. Create your first URL to view details!</p>
        <% } %>
    </section>    

    <script>
        const menuIcon = document.querySelector('#menu-icon');
        const navbar = document.querySelector('.navbar');
        const createUrlSection = document.querySelector('#user-urls');

        menuIcon.addEventListener('click', () => {
            menuIcon.classList.toggle('bx-x');
            navbar.classList.toggle('active');

            if (navbar.classList.contains('active')) {
                createUrlSection.style.marginTop = `${navbar.offsetHeight + 20}px`;
            } else {
                createUrlSection.style.marginTop = '20px';
            }
        });
    </script>
</body>

</html>