<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage URLs - ShortZoid</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/manage.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69a72a2c24.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>

<body>
    <%- include('header') %>

    <section id="user-urls">
        <% if (urls && urls.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Copy Shorten URL</th>
                        <th scope="col">Name</th>
                        <th scope="col">ShortID</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Clicks</th>
                        <th scope="col">QR Code</th>
                        <th scope="col">Download QR Code</th>
                        <th scope="col">Delete Shorten URL</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td data-label="S.No"><%= index + 1 %></td>
                            <td data-label="Copy Shorten URL" class="copy-btn" onclick="copyURL('<%= url.shortID %>')">
                                <i class="fa-solid fa-copy"></i>
                            </td>
                            <td data-label="Name"><%= url.name || url.shortID %></td>
                            <td data-label="ShortID"><a href="https://shortzoid.vercel.app/r/<%= url.shortID %>"><%= url.shortID %></a></td>
                            <td data-label="Destination"><a href="<%= url.redirectURL %>"><%= url.redirectURL %></a></td>
                            <td data-label="Clicks"><%= url.visitHistory.length %></td>
                            <td data-label="QR Code">
                                <% if (url.qrcode) { %>
                                    <img src="<%= url.qrcode %>" alt="QR Code" height="100px">
                                <% } else { %>
                                    Code not available
                                <% } %>
                            </td>
                            <td data-label="Download QR Code">
                                <button class="btn" onclick="downloadQRCode('<%= url.qrcode %>', '<%= url.shortID %>')">Download</button>
                            </td>
                            <td data-label="Delete Shorten URL" class="delete-btn" onclick="deleteURL('<%= url.shortID %>')">
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No URLs found.</p>
        <% } %>
    </section>    

    <script>
        function copyURL(shortID) {
            const copyText = `https://shortzoid.vercel.app/r/${shortID}`;
            navigator.clipboard.writeText(copyText).then(() => {
                alert("Copied the URL: " + copyText);
            }).catch(err => {
                alert("Failed to copy the URL");
            });
        }

        function deleteURL(shortID) {
            if (confirm("Are you sure you want to delete this URL?")) {
                fetch(`/url/delete/${shortID}`, {
                    method: 'DELETE',
                }).then(() => {
                    location.reload();
                });
            }
        }

        function downloadQRCode(qrCodeUrl, shortID) {
            fetch(qrCodeUrl)
                .then(response => response.blob())
                .then(blob => {
                    const fileName = `${shortID}-qrcode.png`;
                    saveAs(blob, fileName);
                })
                .catch(err => {
                    console.error("Error downloading QR code:", err);
                    alert("Failed to download QR code.");
                });
        }

        const menuIcon = document.querySelector('#menu-icon');
        const navbar = document.querySelector('.navbar');
        const createUrlSection = document.querySelector('#user-urls');

        menuIcon.addEventListener('click', () => {
            menuIcon.classList.toggle('bx-x');
            navbar.classList.toggle('active');

            if (navbar.classList.contains('active')) {
                createUrlSection.style.marginTop = `${navbar.offsetHeight + 20}px`;
            } else {
                createUrlSection.style.marginTop = '20px';
            }
        });
    </script>
</body>

</html>