<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage URLs - ShortZoid</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/manage.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/69a72a2c24.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>

<body>
    <header>
        <div class="header">
            <a href="/dashboard" class="logo">ShortZoid</a>
            <i class='bx bx-menu' id="menu-icon"></i>
            <nav class="navbar">
                <a href="/dashboard">Home</a>
                <a href="/dashboard/manage">Manage URLs</a>
                <a href="/dashboard/analytics">Analytics</a>
                <a href="/user/profile">Account</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <section id="user-urls">
        <% if (urls && urls.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Copy Shorten URL</th>
                        <th scope="col">ShortID</th>
                        <th scope="col">Redirect Link</th>
                        <th scope="col">Clicks</th>
                        <th scope="col">QR Code</th>
                        <th scope="col">Download QR Code</th>
                        <th scope="col">Delete Shorten URL</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td class="copy-btn" onclick="copyURL('<%= url.shortID %>')">
                                <i class="fa-solid fa-copy"></i>
                            </td>
                            <td><a href="https://shortzoid.vercel.app/r/<%= url.shortID %>"><%= url.shortID %></a></td>
                            <td><a href="<%= url.redirectURL %>"><%= url.redirectURL %></a></td>
                            <td><%= url.visitHistory.length %></td>
                            <td>
                                <% if (url.qrcode) { %>
                                    <img src="<%= url.qrcode %>" alt="QR Code">
                                <% } else { %>
                                    Code not available
                                <% } %>
                            </td>
                            <td>
                                <button class="btn" onclick="downloadQRCode('<%= url.qrcode %>', '<%= url.shortID %>')">Download</button>
                            </td>
                            <td class="delete-btn" onclick="deleteURL('<%= url.shortID %>')">
                                <i class="fa-solid fa-trash"></i>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No URLs found.</p>
        <% } %>
    </section>

    <script>
        function copyURL(shortID) {
            const copyText = `https://shortzoid.vercel.app/r/${shortID}`;
            navigator.clipboard.writeText(copyText).then(() => {
                alert("Copied the URL: " + copyText);
            }).catch(err => {
                alert("Failed to copy the URL");
            });
        }

        function deleteURL(shortID) {
            if (confirm("Are you sure you want to delete this URL?")) {
                fetch(`/url/delete/${shortID}`, {
                    method: 'DELETE',
                }).then(() => {
                    location.reload();
                });
            }
        }

        function downloadQRCode(qrCodeUrl, shortID) {
            fetch(qrCodeUrl)
                .then(response => response.blob())
                .then(blob => {
                    const fileName = `${shortID}-qrcode.png`;
                    saveAs(blob, fileName);
                })
                .catch(err => {
                    console.error("Error downloading QR code:", err);
                    alert("Failed to download QR code.");
                });
        }
    </script>
</body>

</html>